<section id="messages" class="fixed bottom-0 right-0">

    <!-- Success Messages -->
    {% if message_exists('success') %}
        <div class="p-6 w-72 bg-green-500 text-green-100 color-white rounded mr-3 mb-3">
            {% for message in message_pull('success') %}
                {{ trans(message)|markdown }}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Informational Messages -->
    {% if message_exists('info') %}
        <div class="p-6 w-72 bg-info-500 text-info-100 color-white rounded mr-3 mb-3">
            {% for message in message_pull('info') %}
                {{ trans(message)|markdown }}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Warning Messages -->
    {% if message_exists('warning') %}
        <div class="p-6 w-72 bg-orange-500 text-orange-100 color-white rounded mr-3 mb-3">
            {% for message in message_pull('warning') %}
                {{ trans(message)|markdown }}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Error Messages -->
    {% if message_exists('error') %}
        <div class="p-6 w-72 bg-orange-500 text-orange-100 color-white rounded mr-3 mb-3">
            {% for message in message_pull('error') %}
                {{ trans(message)|markdown }}
            {% endfor %}
        </div>
    {% endif %}

</section>
