{% htmlcompress %}
<html lang="{{ config('app.locale') }}">

<head>
    {% include "pyrocms.theme.afterburner::partials/metadata" %}
</head>

<body>

<div id="app">

    {% include "pyrocms.theme.afterburner::partials/top" %}

    <div id="main" class="flex">

        {% include "pyrocms.theme.afterburner::partials/sidebar" %}
        {% include "pyrocms.theme.afterburner::partials/menu" %}

        <div id="content" class="flex-grow">

            {% include "pyrocms.theme.afterburner::partials/messages" %}
            {#{% include "pyrocms.theme.afterburner::partials/buttons" %}#}

            {% block content %}{% endblock %}

        </div>

    </div>

</div>

{% include "pyrocms.theme.afterburner::partials/footer" %}
{#{% include "pyrocms.theme.afterburner::partials/modals" %}#}
{% include "pyrocms.theme.afterburner::partials/assets" %}

</body>
</html>
{% endhtmlcompress %}
